<!doctype html>
<html lang="en">
	<head th:include="fragments/template::bfadmin-header (pageTitle='Buildfarm Admin - Error')"></head>
	<body id="page-top">
		<!-- Page Wrapper -->
		<div id="wrapper">
			<div th:replace="fragments/template::bfadmin-sidebar-empty"></div>
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main Content -->
				<div id="content">
					<div th:replace="fragments/template::bfadmin-nav"></div>
					<!-- Begin Page Content -->
					<div class="container-fluid">
						<!-- Page Heading -->
						<h1 class="h3 mb-2 text-gray-800">Error Occurred!</h1>
						<p class="mb-4"></p>
						<p>
							[<span th:text="${status}">status</span>] <span th:text="${error}">error</span>
						</p>
						<p th:text="${message}">message</p>
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
				<div th:replace="fragments/template::bfadmin-copyright"></div>
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->
		<div th:replace="fragments/template::bfadmin-footer"></div>
	</body>
</html>