bazel-*
.ijwb/

# Visual Studio Code
/.vscode/

# IntelliJ IDEA
/.idea/
*.iml

# Eclipse
/.project
/.classpath

#Static Analysis
/pmd
/checkstyle

#CI tools
unused_deps
buildozer
google-java-format
lcov
