apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "buildfarm.fullname" . }}-shard-worker
  labels:
    name: {{ include "buildfarm.fullname" . }}-shard-worker
    {{- include "buildfarm.labels" . | nindent 4 }}
    app.kubernetes.io/component: shard-worker
  annotations:
    {{- toYaml .Values.shardWorker.annotations | nindent 4 }}
spec:
  serviceName: {{ include "buildfarm.fullname" . }}-shard-worker
  {{- if .Values.shardWorker.autoscaling.enabled }}
  replicas: {{ .Values.shardWorker.autoscaling.minReplicas }}
  {{- else }}
  replicas: {{ .Values.shardWorker.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      name: {{ include "buildfarm.fullname" . }}-shard-worker
      {{- include "buildfarm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/worker-config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        name: {{ include "buildfarm.fullname" . }}-shard-worker
        {{- include "buildfarm.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: shard-worker
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "buildfarm.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.shardWorker.securityContext | nindent 8 }}
      containers:
        - name: buildfarm-worker
          image: "{{ .Values.shardWorker.image.repository }}:{{ .Values.shardWorker.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.shardWorker.image.pullPolicy }}
          args:
            - --public_name=$(POD_IP):8982
          env:
            - name: CONFIG_PATH
              value: /config/config.yml
            - name: JAVA_TOOL_OPTIONS
              value: -XX:+UseContainerSupport -XX:MaxRAMPercentage=80.0 -XX:+UseStringDeduplication -XX:+UseCompressedOops -XX:+HeapDumpOnOutOfMemoryError -Djava.util.logging.config.file=/shard-worker-log-props/logging.properties
            - name: POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            {{- if .Values.shardWorker.extraEnv }}
            {{- toYaml .Values.shardWorker.extraEnv | nindent 12 }}
            {{- end }}
          ports:
            - containerPort: 8982
              name: "worker-comm"
            - containerPort: 9090
              name: "metrics"
          livenessProbe:
            grpc:
              port: 8982
            initialDelaySeconds: 10
          readinessProbe:
            grpc:
              port: 8982
            initialDelaySeconds: 10
          resources:
            {{- toYaml .Values.shardWorker.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /config
              name: config
              readOnly: true
            {{ if .Values.shardWorker.storage.enabled }}
            - mountPath: /tmp/worker
              name: {{ include "buildfarm.fullname" . }}-shard-worker-data
            {{ end }}
            - mountPath: /shard-worker-log-props
              name: shard-worker-log-props
              readOnly: true
            {{- with .Values.shardWorker.extraVolumeMounts }}
            {{- tpl (toYaml .) $ | nindent 12 -}}
            {{- end }}
      {{- with .Values.shardWorker.runtimeClassName }}
      runtimeClassName: {{ tpl . $ }}
      {{- end }}

      {{- with .Values.shardWorker.nodeSelector }}
      nodeSelector:
        {{- tpl (toYaml .) $ | nindent 8 -}}
      {{- end }}

      {{- with .Values.shardWorker.affinity }}
      affinity:
        {{- tpl (toYaml .) $ | nindent 8 -}}
      {{- end }}

      {{- with .Values.shardWorker.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.shardWorker.tolerations }}
      tolerations:
        {{- tpl (toYaml .) $ | nindent 8 -}}
      {{- end }}
      volumes:
        - configMap:
            defaultMode: 420
            name: {{ include "buildfarm.fullname" . }}-config
          name: config
        - configMap:
            defaultMode: 420
            name: {{ include "buildfarm.fullname" . }}-shard-worker-log-props
          name: shard-worker-log-props
        {{- with .Values.shardWorker.extraVolumes }}
        {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
  {{- if .Values.shardWorker.storage.enabled }}
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: {{ .Values.shardWorker.persistentVolumeClaimRetentionPolicy.whenDeleted }}
    whenScaled: {{ .Values.shardWorker.persistentVolumeClaimRetentionPolicy.whenScaled }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: {{ include "buildfarm.fullname" . }}-shard-worker-data
      spec:
        accessModes: ["ReadWriteOnce"]
        {{- with .Values.shardWorker.storage.class }}
        storageClassName: "{{ . }}"
        {{- end }}
        resources:
          requests:
            storage: "{{ .Values.shardWorker.storage.size }}"
  {{- end }}
