
<!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Buildfarm</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/operations">Operations</a>
                </li>
                <li>
                    <a href="/workers">Workers</a>
                </li>
                <li>
                    <a href="/info">Info</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bazelbuild.github.io/bazel-buildfarm/" class="article">Documentation</a>
                </li>
                <li>
                    <a href="https://github.com/bazelbuild/bazel-buildfarm" class="article">Github</a>
                </li>
            </ul>
        </nav>