digestFunction: SHA256
defaultActionTimeout: 600
maximumActionTimeout: 3600
maxEntrySizeBytes: 2147483648 # 2 * 1024 * 1024 * 1024
prometheusPort: 9090
allowSymlinkTargetAbsolute: false
server:
  instanceType: SHARD
  name: shard
  actionCacheReadOnly: false
  port: 8980
  bindAddress: ''
  grpcMetrics:
    enabled: true
    provideLatencyHistograms: true
    latencyBuckets: [0.001, 0.01, 0.1, 1, 5, 10, 20, 40, 60, +Infinity]
    labelsToReport: []
  maxInboundMessageSizeBytes: 0
  maxInboundMetadataSize: 0
  casWriteTimeout: 3600
  bytestreamTimeout: 3600
  sslCertificatePath:
  sslPrivateKeyPath:
  runDispatchedMonitor: true
  dispatchedMonitorIntervalSeconds: 1
  runOperationQueuer: true
  ensureOutputsPresent: true
  mergeExecutions: true
  runFailsafeOperation: true
  maxCpu: 0
  maxRequeueAttempts: 3
  useDenyList: true
  grpcTimeout: 3600
  executeKeepaliveAfterSeconds: 60
  recordBesEvents: false
  clusterId: local
  cloudRegion: us-east-1
  gracefulShutdownSeconds: 0
  caches:
    directoryCacheMaxEntries: 10000
    commandCacheMaxEntries: 10000
    digestToActionCacheMaxEntries: 10000
    recentServedExecutionsCacheMaxEntries: 10000
  admin:
    deploymentEnvironment: AWS
    clusterEndpoint: grpc://localhost
  metrics:
    publisher: LOG
    logLevel: FINEST
    topic: test
    topicMaxConnections: 1000
    secretName: test
  correlatedInvocationsIndexScopes: !!set
    ? host
    ? username
backplane:
  type: SHARD
  redisUri: redis://localhost:6379
  redisUsername:
  redisPassword:
  redisNodes:
  jedisPoolMaxTotal: 200
  jedisPoolMaxIdle: 8
  jedisPoolMinIdle: 0
  jedisTimeBetweenEvictionRunsMillis: 30000
  workersHashName: Workers
  workerChannel: WorkerChannel
  actionCachePrefix: ActionCache
  actionCacheExpire: 2419200 # 4 weeks
  actionBlacklistPrefix: ActionBlacklist
  actionBlacklistExpire: 3600 # 1 hour
  invocationBlacklistPrefix: InvocationBlacklist
  operationPrefix: Operation
  operationExpire: 604800 # 1 week
  preQueuedOperationsListName: '{Arrival}:PreQueuedOperations'
  processingListName: '{Arrival}:ProcessingOperations'
  processingPrefix: Processing
  processingTimeoutMillis: 20000
  queuedOperationsListName: '{Execution}:QueuedOperations'
  dispatchingPrefix: Dispatching
  dispatchingTimeoutMillis: 10000
  dispatchedOperationsHashName: DispatchedOperations
  operationChannelPrefix: OperationChannel
  casPrefix: ContentAddressableStorage
  casExpire: 604800 # 1 week
  maxQueueDepth: 100000
  maxPreQueueDepth: 1000000
  priorityQueue: false
  priorityPollIntervalMillis: 100
  timeout: 10000
  correlatedInvocationsIndexPrefix: CorrelatedInvocationsIndex
  maxCorrelatedInvocationsIndexTimeout: 259200
  correlatedInvocationsPrefix: CorrelatedInvocation
  maxCorrelatedInvocationsTimeout: 604800
  maxToolInvocationTimeout: 604800
  maxAttempts: 20
  queues:
  - name: cpu
    allowUnmatched: true
    properties:
    - name: min-cores
      value: '*'
    - name: max-cores
      value: '*'
worker:
  port: 8981
  publicName: localhost:8981
  grpcMetrics:
    enabled: false
    provideLatencyHistograms: false
    latencyBuckets: [0.001, 0.005, 0.01, 0.05, 0.075, 0.1, 0.25, 0.5, 1.0, 2.0, 5.0, 10.0]
  capabilities:
    cas: true
    execution: true
  root: /tmp/worker
  inlineContentLimit: 1048567 # 1024 * 1024
  operationPollPeriod: 1
  dequeueMatchSettings:
    allowUnmatched: false
  storages:
  - type: FILESYSTEM
    path: cache
    maxSizeBytes: 2147483648   # 2 * 1024 * 1024 * 1024
    fileDirectoriesIndexInMemory: false
    skipLoad: false
    hexBucketLevels: 0
    execRootCopyFallback: false
    #- type: GRPC
    #  target: "grpc://host:port"
  executeStageWidth: 1
  inputFetchStageWidth: 1
  inputFetchDeadline: 60
  reportResultStageWidth: 1
  linkExecFileSystem: true
  linkInputDirectories: true
  linkedInputDirectories:
  - (?!external/)[^/]+
  execOwner:
  defaultMaxCores: 0
  limitGlobalExecution: false
  onlyMulticoreTests: false
  allowBringYourOwnContainer: false
  errorOperationRemainingResources: false
  errorOperationOutputSizeExceeded: false
  gracefulShutdownSeconds: 0
  sandboxSettings:
    alwaysUseSandbox: false
    alwaysUseAsNobody: false
    alwaysUseCgroups: false
    alwaysUseTmpFs: false
    additionalWritePaths: []
    tmpFsPaths: []
    selectForBlockNetwork: false
    selectForTmpFs: false
  createSymlinkOutputs: false
  zstdBufferPoolSize: 2048
  executionPolicies:
  - name: test
    executionWrapper:
      path: /
      arguments:
  resources:
  - name: sockets
    amount: 4096
  - name: gpu
    type: POOL
    amount: 4 # for an A30 MiG in full splay
  persistentWorkerActionMnemonicAllowlist:
  - '*'
executionWrappers:
  cgroups1: /usr/bin/cgexec
  cgroups2: /app/build_buildfarm/cgexec-wrapper
  unshare: /usr/bin/unshare
  linuxSandbox: /app/build_buildfarm/linux-sandbox
  asNobody: /app/build_buildfarm/as-nobody
  processWrapper: /app/build_buildfarm/process-wrapper
  skipSleep: /app/build_buildfarm/skip_sleep
  skipSleepPreload: /app/build_buildfarm/skip_sleep_preload.so
  delay: /app/build_buildfarm/delay.sh
