# an instance specification
instances {
  name: "default_memory_instance"

  # the digest function for this instance, required
  # to match out of band between the client and server
  # since resource names must be determined on the client
  # for a valid upload
  digest_function: SHA256

  # the implicit type specifier for this instance
  # a memory instance is volatile and has no persistent
  # footprint. all bulk storage is in terms of the CAS
  # with proxy maps for action cache/operations
  memory_instance_config: {
    # Operations#listOperations request limits
    list_operations_default_page_size: 1024
    list_operations_max_page_size: 16384

    # ContentAddressableStorage#getTree request limits
    tree_default_page_size: 1024
    tree_max_page_size: 16384

    # the maximum time after dispatch of an operation until
    # the worker must poll to indicate continued work, after
    # which the operation will be requeued
    operation_poll_timeout: {
      seconds: 30
      nanos: 0
    }

    # the delay after an action timeout before an action is
    # automatically considered to have failed with no results
    # and a timeout exceeded failure condition
    operation_completed_delay: {
      seconds: 10
      nanos: 0
    }

    cas_config: {
      memory: {
        # limit for CAS total content size in bytes
        max_size_bytes: 1073741824 # 1024 * 1024 * 1024
      }
    }

    action_cache_config: {
      # retain a local map of actionKeys and retain actions in CAS
      delegate_cas: {}
    }

    # an imposed action-key-invariant timeout used in the unspecified timeout case
    default_action_timeout: {
      seconds: 600
      nanos: 0
    }

    # a limit on the action timeout specified in the action, above which
    # the operation will report a failed result immediately
    maximum_action_timeout: {
      seconds: 3600
      nanos: 0
    }
  }
}

# another instance, provided to indicate multiplexing configs
instances {
  name: "another_memory_instance"

  # digest functions may be different between instances
  digest_function: SHA1

  memory_instance_config: {
    list_operations_default_page_size: 1024
    list_operations_max_page_size: 16384

    tree_default_page_size: 1024
    tree_max_page_size: 16384

    operation_poll_timeout: {
      seconds: 30
      nanos: 0
    }

    operation_completed_delay: {
      seconds: 10
      nanos: 0
    }

    cas_config: {
      grpc: {
        # instance name for CAS resources, default is empty
        instance_name: "internal"

        # target suitable for netty channel
        target: "cas-host.cloud.org:5000"
      }
    }

    action_cache_config: {
      grpc: {
        # instance name for AC requests, default is empty
        instance_name: "lru-ac"

        # target suitable for netty channel
        target: "ac-host.cloud.org:5001"
      }
    }

    default_action_timeout: {
      seconds: 600
      nanos: 0
    }

    maximum_action_timeout: {
      seconds: 3600
      nanos: 0
    }
  }
}

# the listening port of the buildfarm grpc server
port: 8980

# the instance to which all requests with an empty/missing
# instance name are routed
#
# this can be empty as well, to indicate that there is no
# default instance
default_instance_name: "default_memory_instance"
