name: Build and Push Base Buildfarm Worker Images

on:
  push:
    branches:
    - main
    paths:
    - ci/base-worker-image/jammy/Dockerfile
    - ci/base-worker-image/lunar/Dockerfile
    - ci/base-worker-image/noble/Dockerfile
permissions:
  contents: read

jobs:
  build:
    if: github.repository == 'buildfarm/buildfarm'
    name: Build Base Buildfarm Worker Image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   # v6.0.2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130   # v3.7.0
        # QEMU needed for the ARM variant.

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f   # v3.12.0
        # Docker Buildx needed for the ARM variant.

    - name: Login to Bazelbuild Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9   # v3.7.0
      with:
        username: ${{ secrets.BAZELBUILD_DOCKERHUB_USERNAME }}
        password: ${{ secrets.BAZELBUILD_DOCKERHUB_TOKEN }}


    - name: Build Jammy Docker image
        # AKA Ubuntu 22
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8   # v6.19.2
      with:
        context: .
        file: ./ci/base-worker-image/jammy/Dockerfile
        push: true
        tags: bazelbuild/buildfarm-worker-base:jammy

    - name: Build Lunar Docker image
        # AKA Ubuntu 23
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8   # v6.19.2
      with:
        context: .
        file: ./ci/base-worker-image/lunar/Dockerfile
        push: true
        tags: bazelbuild/buildfarm-worker-base:lunar

    - name: Build Multi-arch Noble Docker image
        # AKA Ubuntu 24
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8   # v6.19.2
      with:
        context: .
        platforms: linux/amd64,linux/arm64/v8
        file: ./ci/base-worker-image/noble/Dockerfile
        push: true
        tags: bazelbuild/buildfarm-worker-base:noble
