name: Lint Helm Chart

on:
  pull_request:
    branches: [main]
    paths:
    - kubernetes/helm-charts/buildfarm/**

env:
  CHART_ROOT: kubernetes/helm-charts/buildfarm

permissions:
  contents: read

jobs:
  lint:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd   # v5.0.1
    - id: helm-lint
      name: Lint Helm Chart
      run: |-
        set -ex
        helm dep up "${CHART_ROOT}"
        helm lint "${CHART_ROOT}"
