name: Build and Deploy to Github Pages

on:
  push:
    branches:
    - main
permissions:
  contents: read

jobs:
  build_and_deploy:
    if: github.repository == 'buildfarm/buildfarm'
    runs-on: ubuntu-latest
    permissions:
      pages: write
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd   # v5.0.1

      # Use GitHub Actions' cache to cache dependencies on servers
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830   # v4.3.0
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

      # Use GitHub Deploy Action to build and deploy to Github
    - uses: jeffreytse/jekyll-deploy-action@222a6b06c846416d654db18142eab0da528cdb4f   # v0.7.0
      with:
        provider: github
        token: ${{ secrets.GH_TOKEN }}   # It's your Personal Access Token(PAT)
        repository: ''               # Default is current repository
        branch: gh-pages             # Default is gh-pages for github provider
        jekyll_src: _site            # Default is root directory
        jekyll_cfg: _config.yml      # Default is _config.yml
        jekyll_baseurl: ''           # Default is according to _config.yml
        bundler_ver: '>=0'           # Default is latest bundler version
        cname: ''                    # Default is to not use a cname
        actor: ''                    # Default is the GITHUB_ACTOR
        pre_build_commands: ''       # Installing additional dependencies (Arch Linux)
